<div class="profile-container">
  <h1>Hi <%= @user.name if @user.name %>!</h1>

  <p>Email: <%= @user.email if @user.email %></p>

  <div class="container">
    <% @gardens.each do |garden| %>
      <tr>
        <%= render 'users/garden' %>
      </tr>
    <% end %>
  </div>

</div>

