<h3>User</h3>

<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<p>Personal Garden: </p>
<% @trainer.gardens.each do |garden| %>
<!-- <li class="name"><%= link_to 'Personal Garden', unknown_path %></li> -->

<p>Community Gardens: </p>
<% @trainer.gardens.each do |garden| %>
<!--<li class="name"><%= link_to 'Community Garden', UNKNOWN_Path %></li> --> 

<% end %>

