<h1>Your Garden</h1>
#Trying to implement button for planting new plant
<table>
  <% @plant.each do |p| %>
    <ul style="list-style-type:none">
      <li> Name: <%= p.name %></li>
      </ul>
  <% end %>
</table>
