<div class="profile-container">
<h1>Your Garden</h1>
<!-- Trying to implement button for planting new plant -->
<table>
  <% @plants.each do |p| %>
    <ul style="list-style-type:none">
      <li> Your plant: <% p.id %> </li>
      </ul>
  <% end %>
</table>
</div>
