// Place all the styles related to the Plants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.plants-choice-container {
	display: inline-block;
	margin: auto;
	transition: 150ms;
	&:hover {
	    transform: scale(1.05, 1.05);
	    transform-origin: center;
	 }
  	border-radius: 5px;
}

.select-plant-button {
	margin: 10px auto;
  	padding: 10px 20px 10px 20px;
  	background-color: #4d8ef7;
  	color: white;
  	border: 4px solid white;
  	font-size: 20px;
  	transition: 150ms;
  	&:hover {
	    // background-color: #659df7;
	    transform: scale(1.05, 1.05);
	    transform-origin: center;
	    cursor: pointer;
	  }
}